## Question 1
A F&B manager wants to determine whether there is any significant difference in the diameter of the cutlet between two units. A randomly selected sample of cutlets was collected from both units and measured? Analyze the data and draw inferences at 5% significance level. Please state the assumptions and tests that you carried out to check validity of the assumptions.​

     Minitab File : Cutlets.mtw

In [66]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_1samp

In [67]:
df = pd.read_csv('Cutlets.csv')
df.shape

(35, 2)

In [68]:
unit1 = np.random.choice(df['Unit A'],size = 20)
unit2 = np.random.choice(df['Unit B'],size = 20)
t_stat, p_value = ttest_ind(unit1,unit2)

print("P_value:",p_value)
print("t_stat:",t_stat)

if p_value < 0.05:
    print("We are rejecting the Null Hypothesis(Ho).")
else:
    print("We are accepting the Null Hypothesis(Ho).")

P_value: 0.4445670201565749
t_stat: 0.7725507743870854
We are accepting the Null Hypothesis(Ho).

## Question 2
   A hospital wants to determine whether there is any difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list. They collected a random sample and recorded TAT for reports of 4 laboratories. TAT is defined as sample collected to report dispatch.​

Analyze the data and determine whether there is any difference in average TAT among the different laboratories at 5% significance level.​

Minitab File: LabTAT.mtw

In [69]:
import pandas as pd
import numpy as np
from scipy.stats import f_oneway

In [70]:
df = pd.read_csv('LabTAT.csv')
df.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [83]:
f_stats, p_value = f_oneway(df['Laboratory 1'], df['Laboratory 2'], df['Laboratory 3'], df['Laboratory 4'])
(f_stats,p_value)

(118.70421654401437, 2.1156708949992414e-57)

In [84]:
if p_value < 0.05:
    print("We will reject the Null Hypothesis(Ho).")
else:
    print("We will accept the Null Hypothesis(Ho).")

We will reject the Null Hypothesis(Ho).

## Question 3
 Sales of products in four different regions is tabulated for males and females. Find if male-female buyer rations are similar across regions.​.mtw

In [85]:
import pandas as pd
from scipy.stats import chi2_contingency

In [86]:
df = pd.read_csv('BuyerRatio.csv')
df

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [94]:
df_tab = [[50,142,131,70],
        [435,1523,1356,750]]
stats, p_value, df, E= chi2_contingency(df_tab)
p_value

0.6603094907091882

In [95]:
if p_value < 0.05:
    print("We will reject the Null Hypothesis(Ho).")
else:
    print("We will accept the Null Hypothesis(Ho).")

We will reject the Null Hypothesis(Ho).

## Question 4
    TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain %  of the customer order forms. Any error in order form renders it defective and has to be reworked before processing.  The manager wants to check whether the defective %  varies by centre. Please analyze the data at 5% significance level and help the manager draw appropriate inferences​

​

Minitab File: CustomerOrderForm.mtw

In [100]:
import pandas as pd
from scipy.stats import chi2_contingency

In [101]:
df = pd.read_csv('Costomer+OrderForm.csv')
df.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [102]:
df.isnull().sum()

Phillippines    0
Indonesia       0
Malta           0
India           0
dtype: int64

In [106]:
print(df['Phillippines'].value_counts())
print(df['Indonesia'].value_counts())
print(df['Malta'].value_counts())
print(df['India'].value_counts())

Phillippines
Error Free    271
Defective      29
Name: count, dtype: int64
Indonesia
Error Free    267
Defective      33
Name: count, dtype: int64
Malta
Error Free    269
Defective      31
Name: count, dtype: int64
India
Error Free    280
Defective      20
Name: count, dtype: int64

In [107]:
freq = [[271,267,269,280], [29,33,31,20]]
freq

[[271, 267, 269, 280], [29, 33, 31, 20]]

In [108]:
stats, p_value, df, e = chi2_contingency(freq)
p_value

0.2771020991233135

In [109]:
if p_value < 0.05:
    print("We will reject the Null Hypothesis(Ho).")
else:
    print("We will accept the Null Hypothesis(Ho).")

We will accept the Null Hypothesis(Ho).